<p-card>
    <h1 class="text-center">Imagens Sentinel 2</h1>
    <p>Este componente exibe múltiplas instâncias de mapas baseadas em diferentes períodos e anos.</p>
    <p>
        O Componente de Grade de Mapas inicializa múltiplos mapas para os períodos especificados (ÚMIDO e SECO) e anos (2017 a 2023).
        Ele usa o OpenLayers para renderizar os tiles do mapa a partir de um servidor remoto. Os usuários podem interagir com os mapas para atualizar as coordenadas do centro.
    </p>
</p-card>
